[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-ros"]
	path = meta-ros
	url = https://github.com/ros/meta-ros.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/meta-intel
